@font-face {
  font-family: "Antenna";
  src: url("fonts/Antenna-Regular.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  padding: 21px;
  text-align: center;
  display: fixed;
  height: 7vh;
  bottom: 6vh;

}
.nav1{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar{
  display: flex;
  flex-direction: row;
  height: 8vh;
  background-color: rgba(153, 93, 93, 0.931);
  color: white;
  padding-right: 20%;
}
.navber{
  width: 80vw;
  height: 84vh;
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(99, 99, 99, 0.197);
}
.navber1{
  height: 100%;
  width: 96%;
  margin: 2%;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}

.logo{
  margin-left: 10vw;
  display: block;
  width: 12%;
  padding: 20px;

}
.title{
  font-stretch: 90px;
  text-align: center;
  color: rgb(255, 254, 254);
  height: 5%;
  font-size: 80px;
  font-family:'Courier New';
  margin: 0 auto;
  margin-top: 20vh;
  background-color: rgba(255, 255, 255, 0);
  font-weight:bolder;
  padding: 15px 30px 30px 30px;
  border-radius: 2vh;

}
.container{
  position: relative;
  display: flex;
  height: 80%;
  width: 95%;
  margin: auto;
}
.box{
  color: rgb(33, 29, 29);
  position: relative;
  height: 30%;
  width: 40%;
  font-size: 22px;
  font-family: "Antenna", sans-serif;
  background-color: #509b28;
  margin: auto;
  margin-top: 26vh;
  border-radius: 1vh;
  
}
.box:hover{
  background-color: #b1da2aa6;
  cursor: pointer;
  color: white;
  font-size: 25px;
  transition: .2s;

}
.subtitle{
  height: 5%;
  font-size: 50px;
  font-family:'Courier New';
  margin: 0 auto;
  margin-top: 23px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 900;
}

.input{
  position: fixed;
  margin: 0 auto;
  left: 21%;
  margin-left: 200px;
  height: 5vh;
  bottom: 10vh;
}